.flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Contains page content for homepage*/
.homeMain{
    color: #C5C6C8;
    padding-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.6;
    position: relative;
    height: 100%;
}

.homeMain section{
    float: left;
    clear: right;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.homeButtons{
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.homeMain section a{
    background-color: #46A29F;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    color: white;
    
}

.homeMain section a:hover{
    background-color: #5ADAD2;
    transition: .3s;
}

.homeMain img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 10px;
}

/*Logo in the header*/
header img{
    height: 2em;
    padding: 10px 0px 10px 40px;;
}

/*Gets rid of lines under links cause they ugly*/
a{
    text-decoration: none;
}

/*Imma be real chief im not sure how to get stuff to stick on bottom of page*/
footer{
    height: 3em;
    background-color: #253942;
    color: #FFF;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0px 20px 0px 20px;
}

footer a{
    color: #FFF;
}

/*The way that the footer link hover behaves diff from links in nav and idk why*/
footer a:hover{
    color: #5ADAD2;
    transition: .3s;
}


header{
    background-color: #141719;
    color: #5ADAD2;
    font-size: 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

body{
    background-color: #141719;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
}

.referenceGrid{
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 2000px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#navBar{
    background-color: #253942;
    position: inherit;
    right: 0;
    left: 0;
}

#navBar a{
    color: #FFF;
    float: left;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    background-color: #253942;
}

#navBar a:hover{
    background-color: #46A29F;
    transition: .3s;
}

.flexNav{
    float: left;
}

#quiz{
    width: 60%;
}

#title{
    margin-left: 3em;
    color: #C5C6C8;
    font-size: 1.25em;
}

.question{
    background-color: #46A29F;
    border-radius: 10px;
    margin: 1em;
    margin-bottom: 2em;
    padding: .5em .5em 1.5em 1em;
    font-size: 1.25em;
    line-height: 1.5em;
}

#active{
    color: #5ADAD2;
}

.right{
    background-color: green;
}

.wrong{
    background-color: rgb(255, 38, 38);
}

#content{
    margin: 1em;
    margin-top: 8%;
    position: relative;
    height: 100%;
}

.sideBar{
    float: left;
    position: fixed;
    margin: 0;
    padding: 10px;
    margin-top: 0px;
    margin-left: 3%;
    background-color: #253942;
    border-radius: 15px;
    width: 20%;
}

.lessonContent{
    color: #C5C6C8;
    margin-top: 130px;
    line-height: 1.6;
    margin-left: 30%;
    width: 60%;
    height: 100%;
    margin-bottom: 50px;

}

.lessonContent h1{
    font-weight: bolder;
    margin-bottom: -30px;
    font-size: 2em;
}

.lessonContent h2{
    color: #5EE6DC;
}

.submit, .specialSubmit{
    width: 95%;
    font-size: 1.5em;
    padding: .5em 0;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 10px;
    background-color: #253942;
    color: #C5C6C8;
    border: none;
}

.specialSubmit{
    width: 45%;
    text-align: center;
}

.submit:hover, .specialSubmit:hover{
    background-color: #46A29F;
    color: #000;
    cursor: pointer;
    transition: .3s;
}

.difficultyGroup{
    height: auto;
    width: auto;
    z-index: 1;
    top: 0px;
    left: 0;
    padding: 1em;
    padding-left: 1.3em;
    list-style: none;
}

.groupName
{
    font-weight: bold;
    font-size: 1 em;
    color: #C5C6C8;
    margin-bottom: 10px;
}

.difficultyGroup a {
    padding: 6px 8px 6px 16px;
    font-size: .75em;
    color: #C5C6C8;
    display: block;
}

.difficultyGroup a:hover {
    color: #46A29F;
    transition: .3s;
}

.difficultyGroup li{
    list-style: none;
}