.flexContainer{
    display: flex;
    justify-content: space-around;
}

/*Contains page content for homepage*/
.homeMain{
    color: #C5C6C8;
    padding-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.6;
    position: relative;
    height: 100%;
}

.homeMain section{
    float: left;
    clear: right;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.homeButtons{
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.homeMain section a{
    background-color: #46A29F;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    color: white;
    
}

.homeMain section a:hover{
    background-color: #5ADAD2;
    transition: .3s;
}

.homeMain img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 10px;
}

/*Logo in the header*/
header img{
    height: 2em;
    padding: 10px 0px 10px 40px;;
}

/*Gets rid of lines under links cause they ugly*/
a{
    text-decoration: none;
}

/*Imma be real chief im not sure how to get stuff to stick on bottom of page*/
footer{
    height: 3em;
    background-color: #253942;
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0px 20px 0px 20px;
}

footer a{
    color: #FFF;
}

/*The way that the footer link hover behaves diff from links in nav and idk why*/
footer a:hover{
    background-color: #5ADAD2;
    transition: .3s;
}


header{
    background-color: #141719;
    color: #5ADAD2;
    font-size: 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

body{
    background-color: #141719;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
}

.referenceGrid{
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 2000px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#navBar{
    background-color: #253942;
    position: inherit;
    right: 0;
    left: 0;
}

#navBar a{
    color: #FFF;
    float: left;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    background-color: #253942;
}

#navBar a:hover{
    background-color: #46A29F;
    transition: .3s;
}



#active{
    color: #5ADAD2;
}

.right{
    background-color: green;
}

.wrong{
    background-color: red;
}

#content{
    margin-top: 10%;
}
